<action-item
  id='1'
  title=""
  description=""
  (saveActionHandler)="saveActionItem($event)"
  (unArchiveActionHandler)="archiveActionItem($event)"
  (archiveActionHandler)="unarchiveActionItem($event)"
>
</action-item>

  <action-item
    *ngFor="let item of items"
    [id]="item"
    title=""
    description=""
    (saveActionHandler)="saveActionItem($event)"
    (unArchiveActionHandler)="archiveActionItem($event)"
    (archiveActionHandler)="unarchiveActionItem($event)"
  >
  </action-item>
